services:
  nginx:
    image: "docker.io/nginx:1.29.4-alpine"
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes: 
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/lauri/lateoy.fi/nginx.conf:/etc/nginx/nginx.conf
      - /home/lauri/lateoy.fi/conf.d/:/etc/nginx/conf.d/
      - /var/log/:/var/log/
      - /var/log/:/var/log/
      - /www-data/:/www-data/
