services:
  nginx:
    image: "docker.io/nginx:1.29.4-alpine"
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes: 
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /home/lauri/lateoy.fi/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/lauri/nginx/conf.d/:/etc/nginx/conf.d/:ro
      - /var/log/:/var/log/
      - /www-data/:/www-data/:ro

  linode-cli:
    image: "docker.io/linode/cli:5.65.0"
    container_name: linode-cli
    environment:
      - LINODE_CLI_TOKEN=${LINODE_CLI_TOKEN}

  testit:
    build: 
      dockerfile: ./ContainerfileTestit
    container_name: testit
    privileged: true
    environment:
      - COMPOSE_LINODE=/sovellus/compose.yaml
    secrets:
      - linode_cli_token
    volumes:
      - /home/lauri/projektit/lateoy.fi/:/sovellus/:ro
      # ei tarvitse joka kerta ladata linode-cli kuvaa
      - containers:/var/lib/containers/storage/

secrets:
  linode_cli_token:
    file: /home/lauri/.secrets/linode/cli.token

volumes:
  containers:
