services:
  nginx:
    image: "docker.io/nginx:1.29.4-alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes: 
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/lauri/lateoy.fi/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/lauri/lateoy.fi/conf.d/:/etc/nginx/conf.d/:ro
      - /var/log/:/var/log/
      - /www-data/:/www-data/:ro
    networks:
      - nginx

networks:
  nginx:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
