services:
  nginx:
    image: "docker.io/nginx:1.29.4-alpine"
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes: 
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/lauri/podman/nginx.conf:/etc/nginx/nginx.conf
      - /home/lauri/podman/conf.d/:/etc/nginx/conf.d/
      - /var/log/nginx/:/var/log/nginx/
      - /www-data/:/www-data/
